
.header, .first-body, .second-body, .third-body{
    height: 320px;
    margin: -8px;
}
body{
    display: flex;
    flex-direction: column;
}

.header, .footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.header .h-top .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header .h-bottom .header-text{
    font-size: 48px;;
    font-weight: bolder;
    color: #F9FAF8;
}

.subheader-text, ul{
    font-size: 18px;
    color: #E5E7EB;
}

.h-top{
    display: flex;
    justify-content: space-between;
}

.h-bottom, .h-top{
    margin: 0 100px;

}

.h-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.h-content{
    width: 500px;
}

.header-img{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2d333b;
}

button, .third{
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    color: #E5E7EB;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
}
.info-head{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.first-body{
    padding: 30px;
}

.body-img{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.infos{
    display: flex;
    justify-content: center;
}

.info{
    width: 130px;
    margin: 35px;
    text-align: center;
}

.text{
    padding-top: 10px;
}

.second-body{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 280px;
}

.quote{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.author{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bolder;
    color: #1F2937;
}

.third-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.third{
    border-radius: 8px;
    margin: 100px;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    text-align:left;
    align-items: center;
}

.f-line{
    font-weight: bold;
    font-size: 22px;
}
.sign-up{
    border: 1px solid white;
}

.footer{
    text-align: center;
    margin: -8px;
    color: #E5E7EB;
}